/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  /*fonts*/
  --font-family: 'Inter-Variable';
  --accent-font-family: 'PressStart2P-Regular';
  /*fonts-settings*/
  --font-weight-main-text: 410;
  --font-weight-title-text: 715;
  --background-image: 
    repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      to top,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
    --inline-size-element: clamp(375px, 100vw, 700px);
    --text-stroke-color: #fff;
    --main-color: #fff;
    --accent-color: #000;
    --contour-color: #000;
    --animation-fill-color: red;
    --framing-color: red;
}